/*
User Management API

API documentation for the User Management API a.k.a uman

API version: 1.0
Contact: api-support@fanscontest.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package platform

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PuzzlesAPIService PuzzlesAPI service
type PuzzlesAPIService service

type ApiPuzzleWebV2PuzzleControllerCreateRequest struct {
	ctx context.Context
	ApiService *PuzzlesAPIService
	xActingAs *string
	createPuzzleRequest *CreatePuzzleRequest
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiPuzzleWebV2PuzzleControllerCreateRequest) XActingAs(xActingAs string) ApiPuzzleWebV2PuzzleControllerCreateRequest {
	r.xActingAs = &xActingAs
	return r
}

// Create puzzle request
func (r ApiPuzzleWebV2PuzzleControllerCreateRequest) CreatePuzzleRequest(createPuzzleRequest CreatePuzzleRequest) ApiPuzzleWebV2PuzzleControllerCreateRequest {
	r.createPuzzleRequest = &createPuzzleRequest
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerCreateRequest) Execute() (*PuzzleResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PuzzleControllerCreateExecute(r)
}

/*
PuzzleWebV2PuzzleControllerCreate Create puzzle

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PuzzleControllerCreateRequest
*/
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerCreate(ctx context.Context) ApiPuzzleWebV2PuzzleControllerCreateRequest {
	return ApiPuzzleWebV2PuzzleControllerCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PuzzleResponse
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerCreateExecute(r ApiPuzzleWebV2PuzzleControllerCreateRequest) (*PuzzleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PuzzleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PuzzlesAPIService.PuzzleWebV2PuzzleControllerCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/puzzles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	// body params
	localVarPostBody = r.createPuzzleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PuzzleControllerDeleteRequest struct {
	ctx context.Context
	ApiService *PuzzlesAPIService
	id string
	xActingAs *string
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiPuzzleWebV2PuzzleControllerDeleteRequest) XActingAs(xActingAs string) ApiPuzzleWebV2PuzzleControllerDeleteRequest {
	r.xActingAs = &xActingAs
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.PuzzleWebV2PuzzleControllerDeleteExecute(r)
}

/*
PuzzleWebV2PuzzleControllerDelete Delete puzzle

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPuzzleWebV2PuzzleControllerDeleteRequest
*/
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerDelete(ctx context.Context, id string) ApiPuzzleWebV2PuzzleControllerDeleteRequest {
	return ApiPuzzleWebV2PuzzleControllerDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerDeleteExecute(r ApiPuzzleWebV2PuzzleControllerDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PuzzlesAPIService.PuzzleWebV2PuzzleControllerDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/puzzles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest struct {
	ctx context.Context
	ApiService *PuzzlesAPIService
	topic *string
	xActingAs *string
}

func (r ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest) Topic(topic string) ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest {
	r.topic = &topic
	return r
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest) XActingAs(xActingAs string) ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest {
	r.xActingAs = &xActingAs
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest) Execute() (*TopicConfigurationResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PuzzleControllerGetTopicConfigurationExecute(r)
}

/*
PuzzleWebV2PuzzleControllerGetTopicConfiguration Get topic configuration

Returns per-difficulty max-question counts for a topic.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest
*/
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerGetTopicConfiguration(ctx context.Context) ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest {
	return ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TopicConfigurationResponse
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerGetTopicConfigurationExecute(r ApiPuzzleWebV2PuzzleControllerGetTopicConfigurationRequest) (*TopicConfigurationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TopicConfigurationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PuzzlesAPIService.PuzzleWebV2PuzzleControllerGetTopicConfiguration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/puzzles/get-topic-configuration"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.topic == nil {
		return localVarReturnValue, nil, reportError("topic is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PuzzleControllerGetUniqueCategoriesRequest struct {
	ctx context.Context
	ApiService *PuzzlesAPIService
	xActingAs *string
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiPuzzleWebV2PuzzleControllerGetUniqueCategoriesRequest) XActingAs(xActingAs string) ApiPuzzleWebV2PuzzleControllerGetUniqueCategoriesRequest {
	r.xActingAs = &xActingAs
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerGetUniqueCategoriesRequest) Execute() (*CategoriesResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PuzzleControllerGetUniqueCategoriesExecute(r)
}

/*
PuzzleWebV2PuzzleControllerGetUniqueCategories List unique categories

Returns categories aggregated from the puzzle bank, enriched with metadata.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PuzzleControllerGetUniqueCategoriesRequest
*/
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerGetUniqueCategories(ctx context.Context) ApiPuzzleWebV2PuzzleControllerGetUniqueCategoriesRequest {
	return ApiPuzzleWebV2PuzzleControllerGetUniqueCategoriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CategoriesResponse
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerGetUniqueCategoriesExecute(r ApiPuzzleWebV2PuzzleControllerGetUniqueCategoriesRequest) (*CategoriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CategoriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PuzzlesAPIService.PuzzleWebV2PuzzleControllerGetUniqueCategories")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/puzzles/categories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PuzzleControllerIndexRequest struct {
	ctx context.Context
	ApiService *PuzzlesAPIService
	cursor *string
	limit *int32
	xActingAs *string
}

func (r ApiPuzzleWebV2PuzzleControllerIndexRequest) Cursor(cursor string) ApiPuzzleWebV2PuzzleControllerIndexRequest {
	r.cursor = &cursor
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerIndexRequest) Limit(limit int32) ApiPuzzleWebV2PuzzleControllerIndexRequest {
	r.limit = &limit
	return r
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiPuzzleWebV2PuzzleControllerIndexRequest) XActingAs(xActingAs string) ApiPuzzleWebV2PuzzleControllerIndexRequest {
	r.xActingAs = &xActingAs
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerIndexRequest) Execute() (*PuzzlesListResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PuzzleControllerIndexExecute(r)
}

/*
PuzzleWebV2PuzzleControllerIndex List puzzles

Cursor-paginated list of puzzles the caller can see.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PuzzleControllerIndexRequest
*/
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerIndex(ctx context.Context) ApiPuzzleWebV2PuzzleControllerIndexRequest {
	return ApiPuzzleWebV2PuzzleControllerIndexRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PuzzlesListResponse
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerIndexExecute(r ApiPuzzleWebV2PuzzleControllerIndexRequest) (*PuzzlesListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PuzzlesListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PuzzlesAPIService.PuzzleWebV2PuzzleControllerIndex")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/puzzles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchRequest struct {
	ctx context.Context
	ApiService *PuzzlesAPIService
	xActingAs *string
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiPuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchRequest) XActingAs(xActingAs string) ApiPuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchRequest {
	r.xActingAs = &xActingAs
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchRequest) Execute() (*MessageResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchExecute(r)
}

/*
PuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearch Migrate puzzles to OpenSearch

Triggers a cross-tenant re-index of the puzzle bank into OpenSearch. Gated by a hard-coded owner check pending puzzle#20.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchRequest
*/
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearch(ctx context.Context) ApiPuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchRequest {
	return ApiPuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MessageResponse
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchExecute(r ApiPuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearchRequest) (*MessageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MessageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PuzzlesAPIService.PuzzleWebV2PuzzleControllerMigratePuzzlesToOpensearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/puzzles/migrate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest struct {
	ctx context.Context
	ApiService *PuzzlesAPIService
	topic *string
	difficulty *string
	cursor *string
	limit *int32
	xActingAs *string
}

func (r ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest) Topic(topic string) ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest {
	r.topic = &topic
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest) Difficulty(difficulty string) ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest {
	r.difficulty = &difficulty
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest) Cursor(cursor string) ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest {
	r.cursor = &cursor
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest) Limit(limit int32) ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest {
	r.limit = &limit
	return r
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest) XActingAs(xActingAs string) ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest {
	r.xActingAs = &xActingAs
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest) Execute() (*PuzzlesListResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PuzzleControllerSearchPuzzleBankExecute(r)
}

/*
PuzzleWebV2PuzzleControllerSearchPuzzleBank Search puzzle bank

Autocomplete search against OpenSearch puzzle bank, scoped to the caller's tenant.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest
*/
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerSearchPuzzleBank(ctx context.Context) ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest {
	return ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PuzzlesListResponse
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerSearchPuzzleBankExecute(r ApiPuzzleWebV2PuzzleControllerSearchPuzzleBankRequest) (*PuzzlesListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PuzzlesListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PuzzlesAPIService.PuzzleWebV2PuzzleControllerSearchPuzzleBank")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/puzzles/search-puzzle-bank"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.topic == nil {
		return localVarReturnValue, nil, reportError("topic is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "form", "")
	if r.difficulty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", r.difficulty, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PuzzleControllerShowRequest struct {
	ctx context.Context
	ApiService *PuzzlesAPIService
	id string
	xActingAs *string
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiPuzzleWebV2PuzzleControllerShowRequest) XActingAs(xActingAs string) ApiPuzzleWebV2PuzzleControllerShowRequest {
	r.xActingAs = &xActingAs
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerShowRequest) Execute() (*PuzzleResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PuzzleControllerShowExecute(r)
}

/*
PuzzleWebV2PuzzleControllerShow Get puzzle

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPuzzleWebV2PuzzleControllerShowRequest
*/
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerShow(ctx context.Context, id string) ApiPuzzleWebV2PuzzleControllerShowRequest {
	return ApiPuzzleWebV2PuzzleControllerShowRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PuzzleResponse
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerShowExecute(r ApiPuzzleWebV2PuzzleControllerShowRequest) (*PuzzleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PuzzleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PuzzlesAPIService.PuzzleWebV2PuzzleControllerShow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/puzzles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PuzzleControllerUpdateRequest struct {
	ctx context.Context
	ApiService *PuzzlesAPIService
	id string
	xActingAs *string
	updatePuzzleRequest *UpdatePuzzleRequest
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiPuzzleWebV2PuzzleControllerUpdateRequest) XActingAs(xActingAs string) ApiPuzzleWebV2PuzzleControllerUpdateRequest {
	r.xActingAs = &xActingAs
	return r
}

// Update puzzle request
func (r ApiPuzzleWebV2PuzzleControllerUpdateRequest) UpdatePuzzleRequest(updatePuzzleRequest UpdatePuzzleRequest) ApiPuzzleWebV2PuzzleControllerUpdateRequest {
	r.updatePuzzleRequest = &updatePuzzleRequest
	return r
}

func (r ApiPuzzleWebV2PuzzleControllerUpdateRequest) Execute() (*PuzzleResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PuzzleControllerUpdateExecute(r)
}

/*
PuzzleWebV2PuzzleControllerUpdate Update puzzle

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPuzzleWebV2PuzzleControllerUpdateRequest
*/
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerUpdate(ctx context.Context, id string) ApiPuzzleWebV2PuzzleControllerUpdateRequest {
	return ApiPuzzleWebV2PuzzleControllerUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PuzzleResponse
func (a *PuzzlesAPIService) PuzzleWebV2PuzzleControllerUpdateExecute(r ApiPuzzleWebV2PuzzleControllerUpdateRequest) (*PuzzleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PuzzleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PuzzlesAPIService.PuzzleWebV2PuzzleControllerUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/puzzles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	// body params
	localVarPostBody = r.updatePuzzleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
