/*
User Management API

API documentation for the User Management API a.k.a uman

API version: 1.0
Contact: api-support@fanscontest.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package platform

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// LeaderboardAPIService LeaderboardAPI service
type LeaderboardAPIService service

type ApiGetChannelsByIdStandingsRequest struct {
	ctx context.Context
	ApiService *LeaderboardAPIService
	id string
	window *string
	actor *string
	xActingAs *string
}

// Standings window: week | all_time (default all_time)
func (r ApiGetChannelsByIdStandingsRequest) Window(window string) ApiGetChannelsByIdStandingsRequest {
	r.window = &window
	return r
}

// member (truncated view) | owner (full board, default)
func (r ApiGetChannelsByIdStandingsRequest) Actor(actor string) ApiGetChannelsByIdStandingsRequest {
	r.actor = &actor
	return r
}

// Acting-as. The platform identity id (piid) this request is on behalf of. The platform verifies the piid belongs to the calling tenant and acts as that identity. Omit for tenant-level calls.
func (r ApiGetChannelsByIdStandingsRequest) XActingAs(xActingAs string) ApiGetChannelsByIdStandingsRequest {
	r.xActingAs = &xActingAs
	return r
}

func (r ApiGetChannelsByIdStandingsRequest) Execute() (*DomainLeaderboardResponse, *http.Response, error) {
	return r.ApiService.GetChannelsByIdStandingsExecute(r)
}

/*
GetChannelsByIdStandings Get a channel's season standings (ranked by cumulative score)

Season standings for a channel, ranked by cumulative raw score — the
prediction/creative metric (distinct from participation points). The
window selects a single period bucket: "week" (the current week) or
"all_time" (lifetime). Read acting-as the channel owner.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Channel ID
 @return ApiGetChannelsByIdStandingsRequest
*/
func (a *LeaderboardAPIService) GetChannelsByIdStandings(ctx context.Context, id string) ApiGetChannelsByIdStandingsRequest {
	return ApiGetChannelsByIdStandingsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DomainLeaderboardResponse
func (a *LeaderboardAPIService) GetChannelsByIdStandingsExecute(r ApiGetChannelsByIdStandingsRequest) (*DomainLeaderboardResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DomainLeaderboardResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LeaderboardAPIService.GetChannelsByIdStandings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/channels/{id}/standings"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.window != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "window", r.window, "form", "")
	}
	if r.actor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "actor", r.actor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xActingAs != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Acting-As", r.xActingAs, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HandlerErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
