/*
User Management API

API documentation for the User Management API a.k.a uman

API version: 1.0
Contact: api-support@fanscontest.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package platform

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PredictionSlipsAPIService PredictionSlipsAPI service
type PredictionSlipsAPIService service

type ApiPuzzleWebV2PredictionControllerClonePredictionSlipRequest struct {
	ctx context.Context
	ApiService *PredictionSlipsAPIService
	id string
	clonePredictionSlipRequest *ClonePredictionSlipRequest
}

// Clone payload
func (r ApiPuzzleWebV2PredictionControllerClonePredictionSlipRequest) ClonePredictionSlipRequest(clonePredictionSlipRequest ClonePredictionSlipRequest) ApiPuzzleWebV2PredictionControllerClonePredictionSlipRequest {
	r.clonePredictionSlipRequest = &clonePredictionSlipRequest
	return r
}

func (r ApiPuzzleWebV2PredictionControllerClonePredictionSlipRequest) Execute() (*PredictionSlipResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PredictionControllerClonePredictionSlipExecute(r)
}

/*
PuzzleWebV2PredictionControllerClonePredictionSlip Clone prediction slip

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id 
 @return ApiPuzzleWebV2PredictionControllerClonePredictionSlipRequest
*/
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerClonePredictionSlip(ctx context.Context, id string) ApiPuzzleWebV2PredictionControllerClonePredictionSlipRequest {
	return ApiPuzzleWebV2PredictionControllerClonePredictionSlipRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PredictionSlipResponse
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerClonePredictionSlipExecute(r ApiPuzzleWebV2PredictionControllerClonePredictionSlipRequest) (*PredictionSlipResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PredictionSlipResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PredictionSlipsAPIService.PuzzleWebV2PredictionControllerClonePredictionSlip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prediction-slips/{id}/clone"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.clonePredictionSlipRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PredictionControllerCreatePredictionSlipRequest struct {
	ctx context.Context
	ApiService *PredictionSlipsAPIService
	createPredictionSlipRequest *CreatePredictionSlipRequest
}

// Prediction slip payload
func (r ApiPuzzleWebV2PredictionControllerCreatePredictionSlipRequest) CreatePredictionSlipRequest(createPredictionSlipRequest CreatePredictionSlipRequest) ApiPuzzleWebV2PredictionControllerCreatePredictionSlipRequest {
	r.createPredictionSlipRequest = &createPredictionSlipRequest
	return r
}

func (r ApiPuzzleWebV2PredictionControllerCreatePredictionSlipRequest) Execute() (*PredictionSlipResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PredictionControllerCreatePredictionSlipExecute(r)
}

/*
PuzzleWebV2PredictionControllerCreatePredictionSlip Create prediction slip

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PredictionControllerCreatePredictionSlipRequest
*/
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerCreatePredictionSlip(ctx context.Context) ApiPuzzleWebV2PredictionControllerCreatePredictionSlipRequest {
	return ApiPuzzleWebV2PredictionControllerCreatePredictionSlipRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PredictionSlipResponse
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerCreatePredictionSlipExecute(r ApiPuzzleWebV2PredictionControllerCreatePredictionSlipRequest) (*PredictionSlipResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PredictionSlipResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PredictionSlipsAPIService.PuzzleWebV2PredictionControllerCreatePredictionSlip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prediction-slips"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPredictionSlipRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PredictionControllerDeletePredictionSlipRequest struct {
	ctx context.Context
	ApiService *PredictionSlipsAPIService
	id string
}

func (r ApiPuzzleWebV2PredictionControllerDeletePredictionSlipRequest) Execute() (*http.Response, error) {
	return r.ApiService.PuzzleWebV2PredictionControllerDeletePredictionSlipExecute(r)
}

/*
PuzzleWebV2PredictionControllerDeletePredictionSlip Delete prediction slip

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id 
 @return ApiPuzzleWebV2PredictionControllerDeletePredictionSlipRequest
*/
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerDeletePredictionSlip(ctx context.Context, id string) ApiPuzzleWebV2PredictionControllerDeletePredictionSlipRequest {
	return ApiPuzzleWebV2PredictionControllerDeletePredictionSlipRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerDeletePredictionSlipExecute(r ApiPuzzleWebV2PredictionControllerDeletePredictionSlipRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PredictionSlipsAPIService.PuzzleWebV2PredictionControllerDeletePredictionSlip")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prediction-slips/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest struct {
	ctx context.Context
	ApiService *PredictionSlipsAPIService
	family *string
	tags *string
	isPublic *bool
	cursor *string
	limit *int32
}

// 
func (r ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest) Family(family string) ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest {
	r.family = &family
	return r
}

// 
func (r ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest) Tags(tags string) ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest {
	r.tags = &tags
	return r
}

// 
func (r ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest) IsPublic(isPublic bool) ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest {
	r.isPublic = &isPublic
	return r
}

// 
func (r ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest) Cursor(cursor string) ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest {
	r.cursor = &cursor
	return r
}

// 
func (r ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest) Limit(limit int32) ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest {
	r.limit = &limit
	return r
}

func (r ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest) Execute() (*PredictionSlipsListResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PredictionControllerListCuratedSlipsExecute(r)
}

/*
PuzzleWebV2PredictionControllerListCuratedSlips List curated prediction slips

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest
*/
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerListCuratedSlips(ctx context.Context) ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest {
	return ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PredictionSlipsListResponse
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerListCuratedSlipsExecute(r ApiPuzzleWebV2PredictionControllerListCuratedSlipsRequest) (*PredictionSlipsListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PredictionSlipsListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PredictionSlipsAPIService.PuzzleWebV2PredictionControllerListCuratedSlips")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/public/curated-slips"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.family != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "family", r.family, "form", "")
	}
	if r.tags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags", r.tags, "form", "")
	}
	if r.isPublic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_public", r.isPublic, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest struct {
	ctx context.Context
	ApiService *PredictionSlipsAPIService
	locked *bool
	cursor *string
	limit *int32
}

// 
func (r ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest) Locked(locked bool) ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest {
	r.locked = &locked
	return r
}

// 
func (r ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest) Cursor(cursor string) ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest {
	r.cursor = &cursor
	return r
}

// 
func (r ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest) Limit(limit int32) ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest {
	r.limit = &limit
	return r
}

func (r ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest) Execute() (*PredictionSlipsListResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PredictionControllerListPredictionSlipsExecute(r)
}

/*
PuzzleWebV2PredictionControllerListPredictionSlips List the caller's prediction slips

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest
*/
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerListPredictionSlips(ctx context.Context) ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest {
	return ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PredictionSlipsListResponse
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerListPredictionSlipsExecute(r ApiPuzzleWebV2PredictionControllerListPredictionSlipsRequest) (*PredictionSlipsListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PredictionSlipsListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PredictionSlipsAPIService.PuzzleWebV2PredictionControllerListPredictionSlips")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prediction-slips"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.locked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locked", r.locked, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PredictionControllerShowOpenPredictionSlipRequest struct {
	ctx context.Context
	ApiService *PredictionSlipsAPIService
}

func (r ApiPuzzleWebV2PredictionControllerShowOpenPredictionSlipRequest) Execute() (*OpenPredictionSlipResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PredictionControllerShowOpenPredictionSlipExecute(r)
}

/*
PuzzleWebV2PredictionControllerShowOpenPredictionSlip Get the caller's open prediction slip

Returns the user's currently-open slip or `{data: null}` when none exists.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPuzzleWebV2PredictionControllerShowOpenPredictionSlipRequest
*/
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerShowOpenPredictionSlip(ctx context.Context) ApiPuzzleWebV2PredictionControllerShowOpenPredictionSlipRequest {
	return ApiPuzzleWebV2PredictionControllerShowOpenPredictionSlipRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OpenPredictionSlipResponse
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerShowOpenPredictionSlipExecute(r ApiPuzzleWebV2PredictionControllerShowOpenPredictionSlipRequest) (*OpenPredictionSlipResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OpenPredictionSlipResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PredictionSlipsAPIService.PuzzleWebV2PredictionControllerShowOpenPredictionSlip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prediction-slips/open"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PredictionControllerShowPredictionSlipRequest struct {
	ctx context.Context
	ApiService *PredictionSlipsAPIService
	id string
}

func (r ApiPuzzleWebV2PredictionControllerShowPredictionSlipRequest) Execute() (*PredictionSlipResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PredictionControllerShowPredictionSlipExecute(r)
}

/*
PuzzleWebV2PredictionControllerShowPredictionSlip Get prediction slip

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id 
 @return ApiPuzzleWebV2PredictionControllerShowPredictionSlipRequest
*/
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerShowPredictionSlip(ctx context.Context, id string) ApiPuzzleWebV2PredictionControllerShowPredictionSlipRequest {
	return ApiPuzzleWebV2PredictionControllerShowPredictionSlipRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PredictionSlipResponse
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerShowPredictionSlipExecute(r ApiPuzzleWebV2PredictionControllerShowPredictionSlipRequest) (*PredictionSlipResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PredictionSlipResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PredictionSlipsAPIService.PuzzleWebV2PredictionControllerShowPredictionSlip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prediction-slips/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPuzzleWebV2PredictionControllerUpdatePredictionSlipRequest struct {
	ctx context.Context
	ApiService *PredictionSlipsAPIService
	id string
	updatePredictionSlipRequest *UpdatePredictionSlipRequest
}

// Prediction slip update payload
func (r ApiPuzzleWebV2PredictionControllerUpdatePredictionSlipRequest) UpdatePredictionSlipRequest(updatePredictionSlipRequest UpdatePredictionSlipRequest) ApiPuzzleWebV2PredictionControllerUpdatePredictionSlipRequest {
	r.updatePredictionSlipRequest = &updatePredictionSlipRequest
	return r
}

func (r ApiPuzzleWebV2PredictionControllerUpdatePredictionSlipRequest) Execute() (*PredictionSlipResponse, *http.Response, error) {
	return r.ApiService.PuzzleWebV2PredictionControllerUpdatePredictionSlipExecute(r)
}

/*
PuzzleWebV2PredictionControllerUpdatePredictionSlip Update prediction slip

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id 
 @return ApiPuzzleWebV2PredictionControllerUpdatePredictionSlipRequest
*/
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerUpdatePredictionSlip(ctx context.Context, id string) ApiPuzzleWebV2PredictionControllerUpdatePredictionSlipRequest {
	return ApiPuzzleWebV2PredictionControllerUpdatePredictionSlipRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PredictionSlipResponse
func (a *PredictionSlipsAPIService) PuzzleWebV2PredictionControllerUpdatePredictionSlipExecute(r ApiPuzzleWebV2PredictionControllerUpdatePredictionSlipRequest) (*PredictionSlipResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PredictionSlipResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PredictionSlipsAPIService.PuzzleWebV2PredictionControllerUpdatePredictionSlip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2/prediction-slips/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updatePredictionSlipRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
